<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd"> 

<mapper namespace="menumapper">

<insert id="add" parameterType="Menu">
insert into menu values (id=#{id},name=#{name},style=#{style},price=#{price})
</insert>

<delete id="delete" parameterType="Integer">
	delete from menu where id=#{id}
</delete>

<update id="update" parameterType="Menu">
	update menu set id=#{id},name=#{name},style=#{style},price=#{price}	
</update>

<select id="select" parameterType="null">
	select * from menu
</select>


</mapper> 