<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="userinfomapper">  
      
      
    <delete id="delete" parameterType="int">  
        delete from userInfo where id = #{id}  
    </delete>  
      
    <insert id="add" parameterType="UserInfo">
    	insert into userInfo values (id=#{id},name=#{name},phone=#{phone},age=#{age},type=#{type},address=#{address})
    </insert>
    
    <update id="update" parameterType="UserInfo">
    	update userInfo set id=#{id},name=#{name},phone=#{phone},age=#{age},type=#{type},address=#{address}
    </update>
    
    <select id="select" parameterType="null">
    	select * from userInfo
    </select>
      
  
</mapper>