<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper     
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"    
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">  
<mapper namespace="userinfomapper">  
      
      
    <delete id="delete" parameterType="int">  
        delete from userInfo where id = #{id}  
    </delete>  
      
    <insert id="add" parameterType="com.test.pojo.UserInfo">
    	insert into userInfo(name,phone,age,type,address) values (#{name},#{phone},#{age},#{type},#{address})
    </insert>
    
    <update id="update" parameterType="com.test.pojo.UserInfo">
    	update userInfo set id=#{id},name=#{name},phone=#{phone},age=#{age},type=#{type},address=#{address}
    </update>
    
    <select id="select" resultType="com.test.pojo.UserInfo" parameterType="java.util.Map">
    	select * from userInfo limit #{startNo}, #{count}
    </select>
    
    <select id="select2" resultType="com.test.pojo.UserInfo">
    	select * from userInfo 
    </select>
      
      <select id="countAll" resultType="java.lang.Integer">
    	select count(*) from userInfo
    </select>
  
</mapper>